@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

:root{
   --branco: white;
   --cor-de-fundo:#00162e;
   --fundo-senha:#00244d;
   --fundo-texto:#001e40;
   --borda:#0075ff;
   --roboto: 'Roboto' , sans-serif;
   --roboto-mono: 'Roboto-mono' , sans-serif;
}
